<ion-view view-title="Playlist">
  <ion-content class="grid-basic-page">
  	<p padding>
    	Referencia Personal
  	</p>
  <ion-grid>
   	<ion-row>
   		<ion-col>
        <div style="width:100%;float:left;">
            <span>Nombre(s):</span><br>
            <input id="input1" type="text" placeholder="Nombre"  style="background: url(img/user.png);background-repeat: no-repeat;background-position: 7px 12px;">
        </div>
   		</ion-col>	
   	</ion-row>
   	</ion-grid>
	<ion-grind>
		<ion-row>  		
   			<ion-col>
                <div>
                    <span>Apellido Paterno</span><br>
                        <input id="input2" type="text" placeholder="Apellido Paterno" style="background: url(img/paterno.png);background-repeat: no-repeat;background-position: 7px 8px;">
                </div>               
            </ion-col>
            <ion-col>
                <div>
				<span>Apellido Materno</span><br>
					<input id="input3" type="text" placeholder="Apellido Materno" style="background: url(img/materno.png);background-repeat: no-repeat;background-position: 7px 8px;">
				</div>
            </ion-col>
       	</ion-row>
    </ion-grid>
       <div class="cont-row">
                                <div style="width:50%;float:left;padding-right: 20px">
                                     <span>Parentesco o Relación</span><br>
                                     <select name="" id="colonia" placeholder="LOS ALPES">
                                    <option value="" disabled selected>ELEGIR PARENTESCO-</option>
                                    <option>PADRE</option>
                                    <option>MADRE</option>
                                    <option>HERMANO</option>
                                    <option>TIO</option>
                                    <option>HIJO</option>
                                    <option>CONOCIDO</option>
                                </select>
                                </div>
                                <div style="width:50%;float:left;">
                                     <span>CURP:</span><br>
                                     <input type="text" placeholder="Curp" style="background: url(img/curp-icon.png);background-repeat: no-repeat;background-position: 7px 6px;background-color:#fff;">
                                </div>
                            </div>
                            <div class="cont-row">
                                <div><span>Teléfono Casa u Oficina</span></div>
                                <div style="width:33%;padding-right: 20px;float:left;">
                                    <span>Lada</span><br>
                                    <input id="input4" type="text" placeholder="Lada"  style="background: url(img/lada.png);background-repeat: no-repeat;background-position: 7px 8px;">
                                </div>
                                <div style="width:33%;float:left;padding-right: 20px">
                                    <span>Teléfono</span><br>
                                    <input id="input5" type="text" placeholder="Teléfono" style="background: url(img/tel.png);background-repeat: no-repeat;background-position: 7px 8px;">
                                </div>
                                <div style="width:33%;float:left;">
                                    <span>Extensión</span><br>
                                    <input id="input6" type="text" placeholder="Extensión"  style="background: url(img/ext.png);background-repeat: no-repeat;background-position: 7px 8px;">
                                </div>
                            </div>
                            <div class="cont-row">
                                <div><span>Confirmar Teléfono Casa u Oficina</span></div>
                                <div style="width:33%;padding-right: 20px;float:left;">
                                    <span>Lada</span><br>
                                    <input id="input4" type="text" placeholder="Lada"  style="background: url(img/lada.png);background-repeat: no-repeat;background-position: 7px 8px;">
                                </div>
                                <div style="width:33%;float:left;padding-right: 20px">
                                    <span>Teléfono</span><br>
                                    <input id="input5" type="text" placeholder="Teléfono" style="background: url(img/tel.png);background-repeat: no-repeat;background-position: 7px 8px;">
                                </div>
                                <div style="width:33%;float:left;">
                                    <span>Extensión</span><br>
                                    <input id="input6" type="text" placeholder="Extensión"  style="background: url(img/ext.png);background-repeat: no-repeat;background-position: 7px 8px;">
                                </div>
                            </div>
                             <div class="cont-row">
                                <div><span>Teléfono Celular</span></div>
                                <div style="width:33%;padding-right: 20px;float:left;">
                                    <span>Clave Cel.</span><br>
                                    <input id="input7" type="text" placeholder="Clave cel"  style="background: url(img/clave.png);background-repeat: no-repeat;background-position: 7px 8px;">
                                </div>
                                <div style="width:33%;float:left;padding-right: 20px">
                                    <span>Lada</span><br>
                                    <input id="input8" type="text" placeholder="Lada"  style="background: url(img/lada.png);background-repeat: no-repeat;background-position: 7px 8px;">
                                </div>
                                <div style="width:33%;float:left;">
                                    <span>Teléfono Móvil</span><br>
                                    <input id="input9" type="text" placeholder="Móvil" style="background: url(img/movil.png);background-repeat: no-repeat;background-position: 7px 8px;">
                                </div>
                            </div>
                            <div class="cont-row">
                                <div><span>Confirmar Teléfono Celular</span></div>
                                <div style="width:33%;padding-right: 20px;float:left;">
                                    <span>Clave Cel.</span><br>
                                    <input id="input7" type="text" placeholder="Clave cel"  style="background: url(img/clave.png);background-repeat: no-repeat;background-position: 7px 8px;">
                                </div>
                                <div style="width:33%;float:left;padding-right: 20px">
                                    <span>Lada</span><br>
                                    <input id="input8" type="text" placeholder="Lada"  style="background: url(img/lada.png);background-repeat: no-repeat;background-position: 7px 8px;">
                                </div>
                                <div style="width:33%;float:left;">
                                    <span>Teléfono Móvil</span><br>
                                    <input id="input9" type="text" placeholder="Móvil" style="background: url(img/movil.png);background-repeat: no-repeat;background-position: 7px 8px;">
                                </div>
                            </div>
    </ion-grid>
  </ion-content>
</ion-view>
