<ion-view >
    <ion-content>
        <div id="container">
            <div class="referencias" style="float:left;">
                <div class="titulo-referencias">
                    <p>Referencias</p>
                </div>
                <div class="div-add-ref">
                    <span>Agregar Referencia</span>
                    <div class="add" data-toggle="modal" data-target="#referencia">+</div>
                </div>
                <div class="table-cartera">
                    <table>
                        <thead>
                            <tr>
                                <th style="text-align:left;">
                                    <strong>NOMBRE</strong>
                                </th>
                                <th style="text-align:left;">
                                    <strong>CURP</strong>
                                </th>
                                <th style="text-align:left;">
                                    <strong>PARENTESCO</strong>
                                </th>
                                <th style="text-align:left;">
                                    <strong>CONTACTO</strong>
                                </th>
                            </tr>
                        </thead>	
                        <tbody border-bottom: 1px solid grey;>
                            <tr style="color:#696969;">
                                <td>BRENDA DARINKA LUCATERO GONZALEZ</td>
                                <td>LUGB860716MDFCNR00</td>
                                <td>Conocido</td>
                                <td>Celular: 044-55-271556689</td>                           
                                <td><a href="#" data-toggle="modal" data-target="#referencia"><img width="30" src="img/edit.png"></img></a></td>
                                <td><a href=""><img width="30" src="img/delete.png" alt=""></a></td>
                            </tr>
                            <tr style="color:#696969;">
                                <td>DANIEL YAÑEZ VALDIVIA</td>
                                <td>YAVD790723HDFXLNN04</td>
                                <td>Hermano(a)</td>
                                <td>Celular: 044-55-52150632</td>
                                <td><a href="#" data-toggle="modal" data-target="#referencia"><img width="30" src="img/edit.png" alt=""></a></td>
                                <td><a href=""><img width="30" src="img/delete.png" alt=""></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="titulo-referencias"><p>Beneficiarios</p></div>
                <div class="div-add-ref">
                    <span>Agregar Beneficiario</span>
                    <div class="add" data-toggle="modal" data-target="#beneficiario">+</div>
                </div>
                <div class="table-cartera">
                    <table>
                        <thead>
                            <tr>
                                <th style="text-align:left;"><strong>NOMBRE</strong></th>
                                <th style="text-align:left;"><strong>PARENTESCO</strong></th>
                                <th style="text-align:left;"><strong>PORCENTAJE</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="color:#696969;">
                                <td>JOSÉ LÓPEZ HERNÁNDEZ</td>
                                <td>HERMANO</td>
                                <td>100%</td>
                                <td><a href="#" data-toggle="modal" data-target="#beneficiario"><img width="30" src="img/edit.png" alt=""></a></td>
                                <td><a href=""><img width="30" src="img/delete.png" alt=""></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
