<ion-view view-title="Search">
	<ion-content>
		<p padding>
			Referencia Personal
		</p>
		<ion-grid>
			<ion-row>
				<ion-col>
					<div style="width:100%;float:left;">
						<span>Nombre(s):</span>
						<br>
						<label class = "item item-input">
							<input type = "text" placeholder = "Nombre(s)" style="background: url(img/user.png);background-repeat: no-repeat;background-position: 7px 12px;"/>
						</label>
					</div>
				</ion-col>	
			</ion-row>
			<ion-row>  			
				<ion-col>
					<div>
						<span>Apellido Paterno</span>
						<br>
						<label class = "item item-input">
							<input type = "text" placeholder = "Apellido Paterno" style="background: url(img/user.png);background-repeat: no-repeat;background-position: 7px 12px;"/>
						</label>
					</div>               
				</ion-col>
				<ion-col>
					<div>
						<span>Apellido Materno</span>
						<br>
						<label class = "item item-input">
							<input type = "text" placeholder = "Apellido Materno" style="background: url(img/user.png);background-repeat: no-repeat;background-position: 7px 12px;"/>
						</label>
					</div>
				</ion-col>
			</ion-row>
			<div class="cont-row">
				<div>
					<span>Parentesco o Relación</span><br>
					<select name="" id="colonia" placeholder="LOS ALPES">
						<option value="" disabled selected>ELEGIR PARENTESCO-</option>
						<option>PADRE</option>
						<option>MADRE</option>
						<option>HERMANO</option>
						<option>TIO</option>
						<option>HIJO</option>
						<option>CONOCIDO</option>
					</select>
				</div>
				<div style="width:50%;float:left;">
					<span>CURP:</span>
					<br>
					<label class = "item item-input">
						<input type = "text" placeholder = "CURP" style="background: url(img/curp.png);background-repeat: no-repeat;background-position: 7px 12px;"/>
					</label>
				</div>
			</div>
			<div class="cont-row">
				<div>
					<span>Teléfono Casa u Oficina</span></div>
					<div style="width:33%;padding-right: 20px;float:left;">
						<span>Lada</span><br>
						<label class = "item item-input">
							<input type = "text" placeholder = "LADA" style="background: url(img/lada.png);background-repeat: no-repeat;background-position: 7px 12px;"/>
						</label>
					</div>
					<div style="width:33%;float:left;padding-right: 20px">
						<span>Teléfono</span><br>
						<label class = "item item-input">
							<input type = "text" placeholder = "Teléfono" style="background: url(img/tel.png);background-repeat: no-repeat;background-position: 7px 12px;"/>
						</label>
					</div>
					<div style="width:33%;float:left;">
						<span>Extensión</span><br>
						<label class = "item item-input">
							<input type = "text" placeholder = "Extensión" style="background: url(img/ext.png);background-repeat: no-repeat;background-position: 7px 12px;"/>
						</label>
					</div>
				</div>
				<div class="cont-row">
					<div>
						<span>Confirmar Teléfono Casa u Oficina</span></div>
						<div style="width:33%;padding-right: 20px;float:left;">
							<span>Lada</span><br>
							<label class = "item item-input">
								<input type = "text" placeholder = "Teléfono" style="background: url(img/tel.png);background-repeat: no-repeat;background-position: 7px 12px;"/>
							</label>
						</div>
						<div style="width:33%;float:left;padding-right: 20px">
							<span>Teléfono</span><br>
							<label class = "item item-input">
								<input type = "text" placeholder = "Teléfono" style="background: url(img/tel.png);background-repeat: no-repeat;background-position: 7px 12px;"/>
							</label>
						</div>
						<div style="width:33%;float:left;">
							<span>Extensión</span><br>
							<label class = "item item-input">
								<input type = "text" placeholder = "Extensión" style="background: url(img/ext.png);background-repeat: no-repeat;background-position: 7px 12px;"/>
							</label>
						</div>
						<div class="cont-row">
							<div>
								<span>Teléfono Celular</span></div>
								<div style="width:33%;padding-right: 20px;float:left;">
									<span>Clave Cel.</span>
									<br>
									<label class = "item item-input">
										<input type = "text" placeholder = "Teléfono Celular" style="background: url(img/tel.png);background-repeat: no-repeat;background-position: 7px 12px;"/>
									</label>
								</div>
								<div style="width:33%;float:left;padding-right: 20px">
									<span>Lada</span><br>
									<label class = "item item-input">
										<input type = "text" placeholder = "Lada" style="background: url(img/lada.png);background-repeat: no-repeat;background-position: 7px 12px;"/>
									</label>
								</div>
								<div style="width:33%;float:left;">
									<span>Teléfono Móvil</span><br>
									<label class = "item item-input">
										<input type = "text" placeholder = "Móvil" style="background: url(img/tel.png);background-repeat: no-repeat;background-position: 7px 12px;"/>
									</label>
								</div>
							</div>
							<div class="cont-row">
								<div>
									<span>Confirmar Teléfono Celular</span></div>
									<div style="width:33%;padding-right: 20px;float:left;">
										<span>Clave Cel.</span><br>
										<label class = "item item-input">
											<input type = "text" placeholder = "Móvil" style="background: url(img/tel.png);background-repeat: no-repeat;background-position: 7px 12px;"/>
										</label>
									</div>
									<div style="width:33%;float:left;padding-right: 20px">
										<span>Lada</span><br>
										<label class = "item item-input">
											<input type = "text" placeholder = "Lada" style="background: url(img/lada.png);background-repeat: no-repeat;background-position: 7px 12px;"/>
											/label>
										</div>
										<div style="width:33%;float:left;">
											<span>Teléfono Móvil</span><br>
											<label class = "item item-input">
												<input type = "text" placeholder = "Móvil" style="background: url(img/tel.png);background-repeat: no-repeat;background-position: 7px 12px;"/>
											</label>
										</div>
									</div>


								</ion-grid>
							</ion-content>
						</ion-view>
