/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

tr {
	color:#696969;
}


.referencias {
    padding: 40px;
    width: 100%;
}
.titulo-referencias{
    color: #2a4d8d;
    font-weight: 700;
    font-size: 18px;
}
.div-add-ref{
    float: right;
    padding: 20px;
}
.table-cartera {
    padding: 0 15px 0 0;
    height: 200px;
    text-align: left;
}
.table-cartera table{
    width: 100%;
    border-spacing: 5px 7px;
    background: #fff;

}
.table-cartera th {
	border-bottom: none;
    }
.table-cartera td {
	border-bottom: none;
}

#referencia .cont-row, #beneficiario .cont-row{
    text-align: left!important;
}
.cont-row{
    margin-bottom: 35px;
    float: left;
    width: 100%;
}
.div-add-ref span {
    position: relative;
    top: 10px;
    left: -20px;
}
.referencias span {
    color: #b9b4b9;
    font-weight: 600;
}

.div-add-ref div {
    text-align:center;
    float: right;
    width: 40px;
    height: 30px;
    background: #feb811;
    position: relative;
    font-size: 20px;
    font-weight: 1px;
    cursor: pointer;
    border: 1px solid #CC9900;
}
img {
    vertical-align: center;
     border: 0;
}

a {
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
}
#container{
    min-height: 100%;
    background: #eeeeee;

    /*background-size: cover;*/
}